/*ticketList*/
.ticketList{
	padding: 0 .5rem;
}.ticketList-li{
	padding: .5rem 0;
	border-bottom: .01rem solid #cccccc;
}.ticketList-li-img{
	width: 5.20rem;
	height: 3.70rem;
}.ticketList-li-det{
	padding-left: .42rem;
}.ticketList-li-det-title{
	height: .86rem;
	line-height: .86rem;
}.ticketList-li-det-p{
	height: .74rem;
	line-height: .74rem;
	font-family: "宋体";
	margin: .68rem 0;
}.ticketList-li-det-ul{
	width: 5.8rem;
	line-height: 1rem;
	box-shadow: .1rem .1rem 0.2rem #b7c0c1;
	padding: 0 .2rem;
	margin: -.68rem .2rem 0 -.2rem;
}.ticketList-li-det-ul-li{
	border-top: .01rem solid #cccccc;
	font-family: "宋体";
	padding-right: .78rem;
}.ticketList-li-det-ul-li:first-child{
	border: none;
}.ticketList-li-det-bottom{
	height: 1.1rem;
	line-height: 1.1rem;
}.ticketList-li-det-bottom-money{
	font-size: .55rem;
}.ticketList-li-det-bottom-up{
	background: linear-gradient(to right,#17d5f7,#0ab1f7);
	width: 3.2rem;
}
